@using System.Linq
@using MudBlazor
@inherits ErrorModelComponent

@if (Model.Errors.Count > 0)
{
    <MudTooltip>
        <ChildContent>
            <MudStack Row="true" AlignItems="AlignItems.Center">
                <MudBadge Content="@Model.Errors.Distinct().Count()" Color="Color.Error" Overlap="true">
                    <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error" />
                </MudBadge>
                <MudIconButton Icon="@Icons.Material.Filled.Clear" OnClick="ClearError" Color="Color.Inherit" />
            </MudStack>
        </ChildContent>
        <TooltipContent>
            <MudList T="string" Dense="true">
                @foreach (var error in Model.Errors.Distinct())
                {
                    <MudListItem T="string" Text="@error" Icon="@Icons.Material.Filled.ErrorOutline" IconColor="Color.Error" />
                }
            </MudList>
        </TooltipContent>
    </MudTooltip>
}

@code
{
    [Inject]
    public required ISnackbar Snackbar { get; init; }

    private Snackbar? _snackbar;

    protected override void OnErrorsChanged()
    {
        if (_snackbar is not null)
        {
            Snackbar.Remove(_snackbar);
            _snackbar = null;
        }

       if (Model.Errors.Count > 0)
        {
            var errorMessage = new MarkupString("<ul style=\"padding-left: 1.5rem; margin: 0;\">" + string.Join("", Model.Errors.Distinct().Select(e => $"<li>{e}</li>")) + "</ul>");
            _snackbar = Snackbar.Add(errorMessage, Severity.Error);
        }
    }
    
    private void ClearError()
    {
        Model.Errors.Clear();
    }
}
