@inherits TriggerTestModelComponent

<div>
    <p>SyncTrigger: @Model.SyncTriggerProperty</p>
    <p>AsyncTrigger: @Model.AsyncTriggerProperty</p>
    <p>CustomNamed: @Model.CustomNamedTriggerProperty</p>
    <p>Regular: @Model.RegularProperty</p>
    <p>Renders: @RenderCount</p>
</div>
